@media screen and (orientation: landscape){
    body {
        background-image: url('https://i.imgur.com/GRvLnQz.png'); 
        }
    }
    
@media screen and (orientation: portrait ) {
    body { 
        background-image: url('https://i.pinimg.com/originals/c9/74/c5/c974c505d0db01a13219f548712ae9c0.png'); 
        }
    }
.center {
    text-align: center;
}

.white {
    color: white;
}
* {
    color: white;
}

* {
    font-family: consolas
}